@charset "utf-8";

@import url("reset.css");
html{width:100%; height:100%; box-sizing:border-box;}
body{width:100%; height:100%; font-family:'nr'; box-sizing:border-box;}
body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }


@font-face { 
   font-family: 'nl'; 
   src: url('../font/NotoSansKR-Light.otf') format('truetype');
}
@font-face { 
   font-family: 'nr'; 
   src: url('../font/NotoSansKR-Regular.otf') format('truetype');
}
@font-face { 
   font-family: 'nb'; 
   src: url('../font/NotoSansKR-Bold.otf') format('truetype'); 
}
@font-face { 
   font-family: 'ml'; 
   src: url('../font/Montserrat-Thin.ttf') format('truetype'); 
}
@font-face { 
   font-family: 'mr'; 
   src: url('../font/Montserrat-Regular.ttf') format('truetype'); 
}
@font-face { 
   font-family: 'mb'; 
   src: url('../font/Montserrat-Bold.ttf') format('truetype'); 
}
@font-face { 
   font-family: 'sl'; 
   src: url('../font/SourceHanSerif-Light.ttc') format('truetype'); 
}
@font-face { 
   font-family: 'sr'; 
   src: url('../font/SourceHanSerif-Regular.ttc') format('truetype'); 
}
@font-face { 
   font-family: 'sb'; 
   src: url('../font/SourceHanSerif-Bold.ttc') format('truetype'); 
}


/*
@media screen and (min-width:0px){
	#wrap{padding:20px 9px 40px;}
	.comment{margin-top:40px; font-size:26px; font-weight:bold; line-height:34px; word-break:keep-all;}
	.comment span{color:#0E7159;}
	.btn_box{margin-top:50px;}
	.btn_box button{border-radius:12px; color:#fff; background:#CBCED7; height:50px; line-height:50px; border:none;
		width:100%; font-size:15px; font-weight:bold;}
	.btn_box button.on{background:#0E7159;}
	.back a{display:block; width:24px; height:24px; background:url('../img/back_icon.png') no-repeat; background-size:cover;
		text-indent:-99999px;}
	.quick_menu{position:fixed; left:50%; transform:translateX(-50%); bottom:0; width:100%; padding:20px 0px; background:#fff; 
		border-top:1px solid rgba(0, 0, 0, 0.06); max-width:600px; box-sizing:border-box;}
	.quick_menu ul{display:table; width:100%;}
	.quick_menu ul li{display:table-cell; text-align:center; width:1%; font-size:13px; color:#CBCED7;}
	.quick_menu ul li.on a{color:#222;}
	.quick_menu ul li i{display:block; margin-bottom:10px;}
	.quick_menu ul li i img{width:22px;}
	.etc{text-align:right;}
	.etc ul li{display:inline-block; margin:0 5px;}
	.etc ul li a{display:block;}
	.etc ul li a .sound{display: inline-block !important; position: absolute; top: 0; left: 0; margin: 0 !important;
		padding: 0 !important;font-size: 0;line-height: 0; border: 0 !important; overflow: hidden !important;}
	.etc ul li.ticket.on{position:relative;}
	.etc ul li.ticket.on:after{content:""; display:block; width:6px; height:6px; position:absolute; right:-2px; bottom:5px;
		background:#FF0000; border-radius:100%;}
	.mt10{margin-top:10px;}
}
@media screen and (min-width:370px){
	#wrap{padding:20px 20px 40px;}
}
@media screen and (min-width:620px){
	body{background:#f8f8f8;}
	#wrap{width:600px; margin:0 auto; background:#fff; height:auto; min-height:100%; box-sizing:border-box;}
}

*/



@media screen and (min-width:0px){
	#wrap{
		padding:5vw;
	}
	.back a{
		display:block; width:6vw; height:6vw; background:url('../img/back_icon.png') no-repeat; background-size:cover;
		text-indent:-99999px;
	}
	.comment{
		font-size:6vw; font-weight:bold; line-height:9vw; word-break:keep-all; 
	}
	.comment span{
		color:#0E7159;
	}
	.comment small{
		color:#0E7159; display:block; font-size:3vw; font-weight:300;
	}
	.comment.line{
		border-bottom:1px solid #F4F6F6; padding:0 0 2vh;
	}
	.comment.pr{
		position:relative;
	}
	.btn_box button{
		border-radius:8px; color:#fff; background:#CBCED7; padding:3.5vw; border:none;
		width:100%; font-size:4vw; font-weight:bold;
	}
	.btn_box button.on{
		background:#0E7159;
	}
	
	input.ty01[type="checkbox"] {
		display:none;
	}
	input.ty01[type="checkbox"] + label {
		color:#91949D;
	}
	input.ty01[type="checkbox"] + label span {
		display:inline-block; width:8vw;height:8vw;vertical-align:middle;background:url('../img/input.png') no-repeat;
		background-size:cover;cursor:pointer;
	}
	input.ty01[type="checkbox"] + label div{
		display:inline-block; border:1px solid #91949D; border-radius:8px; padding:2vw; font-size:3vw; margin-left:3.5vw;
	}
	input.ty01[type="checkbox"]:checked + label span {
		display:inline-block; width:8vw;height:8vw;vertical-align:middle;background:url('../img/input_ck.png') no-repeat;
		background-size:cover;cursor:pointer;
	}
	input.ty01[type="checkbox"]:checked + label div{
		border:1px solid #0E7159; color:#0E7159;
	}

	
	input.ty02[type="checkbox"] {
		display:none;
	}
	input.ty02[type="checkbox"] + label {
		color:#91949D; background:#F8F9F9; border-radius:8px; padding:3vw; display:block; border:2px solid #F8F9F9; font-size:4.5vw;
	}
	input.ty02[type="checkbox"]:checked + label{
		border:2px solid #0E7159; color:#0E7159; 
	}

	input.ty03[type="checkbox"] {
		display:none;
	}
	input.ty03[type="checkbox"] + label {
		color:#91949D; display:block;
	}
	input.ty03[type="checkbox"] + label span {
		display:inline-block; width:5vw;height:5vw;vertical-align:middle;background:url('../img/input02.png') no-repeat;
		background-size:cover;cursor:pointer; margin-right:2.5vw; margin-top:-1vw;
	}
	input.ty03[type="checkbox"]:checked + label span {
		display:inline-block; width:5vw;height:5vw;vertical-align:middle;background:url('../img/input_ck02.png') no-repeat;
		background-size:cover;cursor:pointer; 
	}
	input.ty03[type="checkbox"]:checked + label{
		color:#0E7159;
	}

	.mt1{
		margin-top:1vh;
	}
	.mt2{
		margin-top:2vh;
	}
	.mt3{
		margin-top:3vh;
	}
	.mt4{
		margin-top:4vh;
	}
	.mt6{
		margin-top:4vh;
	}

	
	p.ty01{
		background: #F8F9F9; border-radius: 8px; text-align: center; font-size: 3.5vw; padding:4vw;	word-break: keep-all; color: #91949D;
	}
	p.ty01 span{
		color:#0E7159; font-weight:600;
	}
	p.ty02{
		background: #F8F9F9; border-radius: 8px; text-align: center; font-size: 3.5vw; padding:4vw;	word-break: keep-all; color: #333;
		line-height:5.5vw;
	}
	p.ty02 span{
		color:#0E7159; font-weight:600;
	}
	p.ty02.line{
		border:1px solid #0E7159; padding:7vw;
	}
	p.ty02.line span a{
		border-bottom:1px solid #0E7159;
	}

	div.ty01{
		background:#F8F9F9; border-radius: 8px; padding:4vw; text-align: center;
	}
	div.ty01 img{
		margin-left:auto; margin-right:auto; display:block; width:60vw;
	}
	div.ty01 span{
		display:inline-block; color:#91949D; font-size:3.5vw; font-weight:400;
	}
	
	div.ty02{
		padding:4vw; font-size:4vw; font-weight:600;
	}
	div.ty02 span{
		color:#91949D; display:block; font-size:3.5vw; font-weight:300;
	}
	div.ty02 a{
		background: #0E7159; color:#fff; display:inline-block; font-size:3.5vw; font-weight:300; text-align: center; border-radius: 8px;
		padding:1.2vw 2.2vw;
	}
	div.ty02.a{
		background: #EDF8F7;
	}



/* guide03 */
@media screen and (min-width:0px){
	.guide03{
		margin-top:3vh;
	}
	.guide03 .comment{
		padding:2vh 0; border-bottom:1px solid #F4F6F6;
	}
	.guide03 .tab_menu{
		position:relative;
	}
	.guide03 .tab_menu .list{
		overflow:hidden; display:table; width:100%;
	}
	.guide03 .tab_menu .list > li{
		display:table-cell; width:1%; text-align:center;
	}
	.guide03 .tab_menu .list .btn{
		font-size:3.8vw; color:#CBCED7; display:block; height:6vh; line-height:6vh;
	}
	.guide03 .tab_menu .list .cont{
		display:none; position:absolute;  width:100%; left:0; top:6vh;
	}
	.guide03 .tab_menu .list li.is_on .btn{
		font-weight:bold; color:#0E7159; border-bottom:1px solid #0E7159;
	}
	.guide03 .tab_menu .list li.is_on .cont{
		display:block; text-align:left;
	}
	.guide03 .tab_menu .list li.is_on .cont ul{
		padding:3vh 0 6vh; position:relative;
	}
	.guide03 .tab_menu .list li.is_on .cont ul:before{
		content:""; display:block; width:1px; height:100%; background:#F4F6F6; position:absolute; left:4vw; top:0; z-index:-1;
	}
	.guide03 .tab_menu .list li.is_on .cont li{
		display:block; margin-top:2.5vh
	}
	.guide03 .tab_menu .list li.is_on .cont li:first-child{
		margin-top:0;
	}
}
/***********/


/* guide05 */
	.guide05 ul li{
		font-size:4vw; margin-top:1vh;
	}
	.guide05 ul li:first-child{
		margin-top:0vh;
	}
/***********/


/* guide06 */
@media screen and (min-width:0px){
	.guide06 ul:after{
		content:""; display:block; float:none; clear:both;
	}
	.guide06 ul li{
		float:left; width:49%; margin-bottom:2%; background:#F8F9F9; border-radius:8px; padding:4vw; box-sizing:border-box;
		text-align:center; 
	}
	.guide06 ul li:nth-child(2n){
		margin-left:2%;
	}
	.guide06 ul li img{
		margin-left:auto; margin-right:auto; display:block; height:15vh;	
	}
	.guide06 ul li span{
		color:#91949D; font-size:4.5vw; margin-top:4vw; display:block;	
	}
	.guide06 .btn_box{
		text-align:center;
	}
	.guide06 .btn_box a{
		display:inline-block; color:#91949D; font-size:3.5vw; border-bottom:1px solid #91949D;
	}
}
/***********/


/* guide07 */
@media screen and (min-width:0px){
	.guide07 ul li{
		border:2px solid #0E7159; color:#0E7159; font-weight:600; font-size: 4vw; background: #F8F9F9; border-radius: 8px;
		padding: 3vw; font-size:4.5vw; margin-top:1vh;
	}
	.guide07 ul li:first-child{
		margin-top:0;
	}
	.comment.pr .save{
		position:absolute; bottom:2vh; right:0; width:15vw; height:15vw; background:url('../img/guide08.png') no-repeat;
		background-size:cover; text-indent:-9999px;
	}
}
/***********/    
    

/* guide08 */
@media screen and (min-width:0px){
	.guide08 .img_box{
		height:40vh;
	}
	.guide08 .img_box img{
		height:100%; display:block; margin-left:auto; margin-right:auto;
	}
}
/***********/  


/* guide09 */
@media screen and (min-width:0px){
	.guide09 ul li{
		font-size: 4vw; background: #F8F9F9; border-radius: 8px; color:#91949D;
		padding: 3vw; margin-top:1vh;
	}
	.guide09 ul li:first-child{
		margin-top:0;
	}
}
/***********/  
    

/* guide11 */
@media screen and (min-width:0px){
	.guide11 .group span{
		color:#91949D; font-size:4vw; font-weight:400;
	}
	.guide11 .group a{
		color:#91949D; font-size:5vw; font-weight:400; display:block; border-radius:8px; padding:3vw;
	}
	.guide11 .group a.a{
		background:#EDF3F8;
	}
	.guide11 .group a.b{
		background:#DDF4EC
	}
}
/***********/  

/* guide12 */
@media screen and (min-width:0px){
	.guide12 .btn_box{
		text-align:center;
	}
	.guide12 .btn_box a {
		display: inline-block;
		color: #91949D;
		font-size: 4vw;
		border-bottom: 1px solid #91949D;
	}
}
/***********/  


/* guide013 */
@media screen and (min-width:0px){
	.guide13 ul li{
		font-size: 4vw; background: #F8F9F9; border-radius: 8px; color:#91949D;
		padding: 3vw; margin-top:1vh;
	}
	.guide13 ul li:first-child{
		margin-top:0;
	}
}
/***********/  




.guide16 ul li{background:#FDFBFF; box-shadow: 2px 4px 6px rgb(0 0 0 / 20%); border-radius:20px;}
.guide16 ul li{margin-top:10px; padding:20px 30px;}
.guide16 ul li a{font-size:24px; display:block; background:url('../img/button03.png') no-repeat;
	background-position:right 30px center; background-size:18px;}
.guide16 ul li a.active{background:url('../img/button04.png') no-repeat;
	background-position:right 30px center; background-size:18px;}
.guide16 ul li div{display:none; word-break:keep-all;}
